# =========================
# Python

.idea/

# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# PyCharm / IntelliJ
# =========================
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
*.pid
docker-compose.override.yml

# =========================
# Coverage / tests
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Migrations (опционально)
# =========================
# Если НЕ хочешь коммитить миграции — раскомментируй
# */migrations/
# */migrations/__pycache__/
